In [8]:
import pandas as pd

sukajadi = pd.read_csv('tahun-2019---data-sarana-pendidikan-sukajadi.csv')
sukajadi.shape

(93, 9)

In [9]:
cibiru = pd.read_csv('tahun-2019-data-sekolah-cibiru.csv')
cibiru.shape

(43, 14)

In [23]:
data_combined = pd.concat([sukajadi,cibiru]).drop_duplicates().reset_index(drop=True)

In [22]:
data_combined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134 entries, 0 to 133
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Kode Kecamatan      134 non-null    object
 1   Kecamatan           134 non-null    object
 2   Kode Kelurahan      133 non-null    object
 3   Kelurahan           133 non-null    object
 4   Jenjang Sekolah     134 non-null    object
 5   Nama Sekolah        134 non-null    object
 6   Alamat Sekolah      134 non-null    object
 7   Jumlah Murid        134 non-null    int64
 8   Jumlah Guru         134 non-null    int64
 9   Ruang Kelas         41 non-null     object
 10  Laboratorium        41 non-null     object
 11  Fasilitas Olahraga  41 non-null     object
 12  Toilet              41 non-null     object
 13  Perpustakaan        41 non-null     object
dtypes: int64(2), object(12)
memory usage: 14.8+ KB

In [24]:
data_combined['Nama Sekolah'].value_counts().count()

125

In [15]:
data_combined['Jumlah Murid'].sum()

19730

In [26]:
data_combined['Jumlah Guru'].sum()

1390

In [27]:
data_combined['Ruang Kelas'].sum()

TypeError: unsupported operand type(s) for +: 'int' and 'str'